.selectedPage {
    font-weight: bold;
    font-size: 20px;
}

.main {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pageNumber {
    margin: 0 10px;
}

