.photo {
    width: 100px;
}

.mainBlock {
    display: flex;
    margin-bottom: 20px;
    margin-left: 50px;
}

.selectedPage {
    font-weight: bold;
    font-size: 25px;
}

.cursor {
    cursor: pointer;
}

