.main_background img{
    width: 800px;
    margin: 10px auto;
    display: flex;
    border-radius: 5%;
    opacity: 0.7;
}

.profileCard {
    margin-top: 20px;
    margin-left: 50px;
}


.avatarLogo {
    max-width: 200px;
}